.container
  .row.news
    .col-md-7.event
      .title= 'COMING NEXT'
      = image_tag 'http://www.culturedub.com/assets/Garance-Reggae-Festival-2013-ban.jpg'
      .col-md-12.event-infos
        .col-md-8.col-sm-8.col-xs-12.event-infos-left
          .subtitle= 'Garance Reggae Festival'
          .place= 'Bagnoles-sur-Cèze, 12 rue du Neuve'
        .col-md-4.col-sm-4.col-xs-12.event-infos-right
          .date
            .number= '24'
            .month= 'Avril'
      .col-md-12.event-infos-min
        .col-md-6.col-sm-6.col-xs-12.extra-event
          = image_tag 'http://www.culturedub.com/assets/Garance-Reggae-Festival-2013-ban.jpg'
          .subtitle= 'Garance Reggae Festival'
          .place= 'Bagnoles-sur-Cèze, 12 rue du Neuve'
          .date-min= '20 Mai'
        .col-md-6.col-sm-6.col-xs-12.extra-event
          = image_tag 'http://www.culturedub.com/assets/Garance-Reggae-Festival-2013-ban.jpg'
          .subtitle= 'Garance Reggae Festival'
          .place= 'Bagnoles-sur-Cèze, 12 rue du Neuve'
          .date-min= '30 Mai'

    .col-md-offset-1.col-md-4.tunes
      .title= 'NEW TUNES'
      .col-md-12.col-sm-6.col-xs-12.tune
        = image_tag 'http://rhymejunkie.com/files/2014/08/keith-murray-on-the-breakfast-club-rhyme-junkie-hip-hop-news-rumors-and-entertainment-e1407432352949.jpg'
        .subtitle= 'Keith Murray - The Rhyme HD'
        %span.category= 'Rap US'
      .col-md-12.col-sm-6.col-xs-12.tune
        = image_tag 'http://www.ballerstatus.com/wp-content/uploads/2012/01/keithmurray.jpg'
        .subtitle= 'Keith Murray - The Rhyme HD'
        %span.category= 'Rap US'
.row.presentation
  .container.section
    .col-md-12
      .col-md-5.col-sm-12
        %h3= 'MWD Sound System'
        .description
          Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
      .col-md-7.col-sm-12
        #slick
          .slick-img= image_tag 'http://www.gmag.org.uk/attachments/Image/Sound_System_1.jpg'
          .slick-img= image_tag 'http://sampleface.co.uk/wp-content/uploads/2013/08/reggae-and-sound-system-culture-in-the-uk.jpg'
          .slick-img= image_tag 'http://www.largeup.com/wp-content/uploads/2015/08/sir-coxsone-sound.jpg'
.row.newsletter
  .container.section
    .col-md-12
      %h3= 'Stay tuned'
      .description
        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
