!!!5
%html
  %head
    %title Mek We Dweet TV - Bass Music Pon de Internet
    %base{ href: '/' }
    %meta{ name: 'viewport', content:'width=device-width, initial-scale=1' }
    %meta{ name: 'description', content:'Web TV for the Bass Music !' }
    %link{ href: '//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css', rel: 'stylesheet', type: 'text/css' }
    %link{ href: '//fonts.googleapis.com/css?family=Fjalla+One', rel: 'stylesheet', type: 'text/css' }
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .full-header
      .black-overlay
      .logo= 'MWD'
    .main-menu
      %ul
        %li.active= link_to 'HOME', '#'
        %li= link_to 'AGENDA', '#'
        %li= link_to 'TV', '#'
    = yield
    .row.footer

    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{ src: '//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js', type: 'text/javascript' }
